BasedOnStyle: LLVM
IndentWidth: 6
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
ColumnLimit: 128
